<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQDemo.Properties.Settings.EbookCreationConnectionString"
            connectionString="Data Source=.;Initial Catalog=EbookCreation;Persist Security Info=True;User ID=user;Password=Rybuf_t,er"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>